.section {
    margin-bottom: 2vw;
}

.row-nested {
    width: 100%;
    padding: 2%;
}

[class*="col"] {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #006cfa;
    background-clip: content-box;
    color: white;
    padding: 1px;
    text-align: center;
    min-height: 4vw;
}

[class*="col"] h2 {
    font-size: 1vw;
    padding: 1vw;
}

[class*="col"] .col-nested {
    background-color: #00e165;
}

